/* 
=============== 
Variables
===============
*/

$content-container: 80vw;

$font-header: 'inter';
$font-body: 'roboto';

$primary: #2465e1;
$secondary: #fdc500;
$secondary-light-1: #ffd500;

$grey-1: hsl(209, 61%, 16%);
$grey-2: hsl(209, 34%, 30%);
$grey-3: hsl(209, 28%, 39%);

$nav-height: 4.25rem;
$radius: 0.25rem;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

$transition: all 0.2s linear;

/* 
=============== 
Global Defaults and Styles
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  line-height: 3.75rem;
}

p {
  font-family: $font-body;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.btn__primary {
  text-transform: uppercase;
  background: $primary;
  padding: 1rem 2rem;
  display: inline-block;
  -webkit-transition: $transition;
  transition: $transition;
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: $radius;
  color: white;
}

.btn__primary:hover {
  background: $secondary-light-1;
  color: $grey-1;
}

.padding__modifier {
  padding: 0 0.25rem;
}

.content__wrapper {
  max-width: $content-container;
  margin-right: auto;
  margin-left: auto;
}

/* 
=============== 
Classes
===============
*/

/* ___Navbar___ */

.navbar {
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 200;
  width: 100%;
  height: $nav-height;
  display: flex;
  align-items: center;
  background: white;
}

.navbar__layout {
  width: $content-container;
  max-width: $content-container;
  margin: 0 auto;
}

.navbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: $nav-height;
}

.navbar__header a {
  max-height: $nav-height;
}

.btn__toggle {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: $primary;
  cursor: pointer;
  transition: $transition;
}
.btn__toggle:hover {
  color: $secondary;
}

.navbar__links {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn__toggle {
    display: none;
  }
  .navbar__links {
    display: flex;
    justify-content: flex-end;
  }
  .navbar__links li {
    margin-right: 4rem;
  }
  .navbar__links a {
    color: black;
    font-family: $font-body;
    font-weight: bold;
    padding: 0.5rem 0;
    text-transform: capitalize;
  }
  .navbar__links a:hover {
    color: $primary;
    box-shadow: 0px 2px $secondary;
  }
  .navbar__layout {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .navbar__btn a {
    color: $primary;
    border: 2px solid $primary;
    border-radius: $radius;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
  .navbar__btn a:hover {
    color: $secondary;
    border: 2px solid $secondary;
    box-shadow: 0px 0px;
  }
}

/* ___Sidebar___ */

.sidebar {
  background: $primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: $transition;
  transform: translateX(-100%);
}

.sidebar__show {
  opacity: 1;
  transform: translateX(0);
}
.sidebar__links li {
  opacity: 0;
}

.sidebar__links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-family: $font-header;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: $transition;
  border-radius: $radius;
  padding: 0.5rem 1rem;
}
.sidebar__links li a:hover {
  background: $secondary;
  color: black;
}
.sidebar__links .navbar__btn a {
  border: 2px solid white;
  border-radius: $radius;
  padding: 0.5rem 1rem;
}
.sidebar__links .navbar__btn a:hover {
  border: 2px solid $secondary;
}

.sidebar__icons {
  justify-content: center;
  margin-top: 4rem;
}

.sidebar__icons a {
  color: white;
}

.btn__close {
  position: absolute;
  right: 3.125rem;
  top: 0.75rem;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}

/* Sidebar Animations */

.sidebar__links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar__links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar__links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar__links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar__links li:nth-of-type(4) {
  animation-delay: 1s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar__icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar__icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar__icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ___Hero Section___ */

.hero__container {
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 4.25rem);
  // margin-top: $nav-height;
}

.hero__container > * {
  flex: 0 0 50%;
}

.hero__text {
  // margin-top: 15rem;
}

.hero__text--title {
  font-size: 3.75rem;
  line-height: 4.5rem;
  padding: 1.5rem 0;
}

.hero__text--highlight {
  color: $primary;
}

.hero__actions {
  margin-top: 4.5rem;
  display: flex;
  justify-content: space-between;
}

.hero__img {
  /* display: none;
  flex-grow: 1; */
  // max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

/* ___Social Links___ */

.social__links {
  display: flex;
  align-items: center;
}
.social__links--item {
  font-size: 2.5rem;
  color: $primary;
  transition: $transition;
}

.social__links--item > * {
  display: block;
}

.social__links--item:hover {
  color: $secondary-light-1;
}
