/* 
=============== 
Variables
===============
*/

$content-container: 80vw;

$font-header: 'inter';
$font-body: 'roboto';

$primary: #2465e1;
$secondary: #fdc500;
$secondary-light-1: #ffd500;

$grey-1: hsl(209, 61%, 16%);
$grey-2: hsl(209, 34%, 30%);
$grey-3: hsl(209, 28%, 39%);

$nav-height: 4.25rem;
$radius: 0.25rem;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

$transition: all 0.2s linear;

/* 
=============== 
Global Defaults and Styles
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: 100;
}

h1 {
  font-size: 3.75rem;
  line-height: 3.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: $font-body;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.btn {
  border-radius: $radius;
  text-transform: capitalize;
  padding: 1rem 2rem;
  display: inline-block;
  -webkit-transition: $transition;
  transition: $transition;
  font-family: $font-body;
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  &__primary {
    background: $primary;
    color: white;
  }

  &__secondary {
    background: $secondary;
    color: $grey-1;
  }

  &__outlined--primary {
    border: 2px solid $primary;
    border-radius: $radius;
    background: none;
    color: $primary;

    &:hover {
      background: white;
      color: $grey-1;
    }
  }
  &__outlined--secondary {
    border: 2px solid $secondary;
    border-radius: $radius;
    background: none;
    color: $secondary;

    &:hover {
      background: $secondary-light-1;
      color: $grey-1;
    }
  }

  &__outlined--white {
    border: 2px solid white;
    border-radius: $radius;
    background: none;
    color: white;
  }

  &:hover {
    background: $secondary-light-1;
    color: $grey-1;
  }
}

.padding__modifier {
  padding: 0 0.25rem;
}

.content__wrapper {
  max-width: $content-container;
  margin-right: auto;
  margin-left: auto;
}

.flex__container {
  display: flex;
  flex-wrap: wrap;
}

.push {
  text-align: right;
}

.text__color--invert > * {
  color: white;
}

/* 
=============== 
Page Styles
===============
*/
.error__page {
  background: grey;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: calc(100vh - 4.25rem - 9rem);
}

.error__page h1 {
  margin-bottom: 2rem;
}

/* 
=============== 
Classes
===============
*/

/* ___Navbar___ */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: $nav-height;
  display: flex;
  align-items: center;
  background: white;
}

.navbar__layout {
  width: $content-container;
  max-width: $content-container;
  margin: 0 auto;
}

.navbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: $nav-height;
}

.navbar__header a {
  max-height: $nav-height;
}

.btn__toggle {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: $primary;
  cursor: pointer;
  transition: $transition;
}
.btn__toggle:hover {
  color: $secondary;
}

.navbar__links {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn__toggle {
    display: none;
  }
  .navbar__links {
    display: flex;
    justify-content: flex-end;
  }
  .navbar__links li {
    margin-right: 4rem;
  }
  .navbar__links li:last-child {
    margin-right: 0rem;
  }
  .navbar__links a {
    color: black;
    font-family: $font-body;
    padding: 0.5rem 0;
    text-transform: capitalize;
  }
  .navbar__links a:hover {
    color: $primary;
    box-shadow: 0px 2px $secondary;
  }
  .navbar__layout {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .navbar__btn a {
    color: $primary;
    border: 2px solid $primary;
    border-radius: $radius;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
  .navbar__btn a:hover {
    color: $secondary;
    border: 2px solid $secondary;
    box-shadow: 0px 0px;
  }
}

/* ___Sidebar___ */

.sidebar {
  background: $primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: $transition;
  transform: translateX(-100%);
}

.sidebar__show {
  opacity: 1;
  transform: translateX(0);
}
.sidebar__links li {
  opacity: 0;
}

.sidebar__links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-family: $font-header;
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: $transition;
  border-radius: $radius;
  padding: 0.5rem 1rem;
}
.sidebar__links li a:hover {
  background: $secondary;
  color: black;
}
.sidebar__links .navbar__btn a {
  border: 2px solid white;
  border-radius: $radius;
  padding: 0.5rem 1rem;
}
.sidebar__links .navbar__btn a:hover {
  border: 2px solid $secondary;
}

.sidebar__icons {
  justify-content: center;
  margin-top: 4rem;
}

.sidebar__icons a {
  color: white;
}

.btn__close {
  position: absolute;
  right: 3.125rem;
  top: 0.75rem;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}

/* Sidebar Animations */

.sidebar__links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar__links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar__links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar__links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar__links li:nth-of-type(4) {
  animation-delay: 1s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar__icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar__icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar__icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ___Hero Section___ */

.hero__container {
  align-items: center;
  margin-top: 8rem;
}

.hero__text {
  flex: 0 0 55%;
}

.hero__text--title {
  font-size: 3.75rem;
  line-height: 4.5rem;
  padding: 1.5rem 0;
}

.hero__text--highlight {
  color: $primary;
}

.hero__actions {
  margin-top: 4.5rem;
  margin-left: -0.45rem;
  display: flex;
  justify-content: space-between;
}

.hero__img {
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 45%;
}

.hero__background {
  height: auto;
  resize: horizontal;
  overflow: hidden;
}

.hero__container--background {
  position: relative;
  display: block;
}

.wave__front {
  fill: $primary;
  z-index: 1;
  margin-top: 2rem;
  margin-bottom: -1px;
}

.wave__front > *,
*::after,
*::before {
  display: block;
}

.wave__back {
  fill: #b49f4d;
  opacity: 0.101;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .hero__text--title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .hero__text > p {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 976px) {
  .hero__container {
    margin-top: $nav-height;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 0vh;
  }

  .hero__container > * {
    flex: 0 0 100%;
  }

  .hero__text {
    padding: 0 0;
    order: 1;
  }

  .hero__text--title {
    padding: 1.5rem 0 1.5rem 0;
  }

  .hero__actions {
    margin-top: 1.5rem;
  }

  .hero__img {
    margin: 1.5rem auto;
    max-width: 50vw;
  }
}

@media screen and (max-width: 479px) {
  .hero__text > p {
    font-size: 1rem;
  }

  .hero__text--title {
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.5rem 0 1rem 0;
  }
}

/* ___Social Links___ */

.social__links {
  display: flex;
  align-items: center;
}
.social__links--item {
  font-size: 2.5rem;
  color: $primary;
  transition: $transition;
}

.social__links--item > * {
  display: block;
}

.social__links--item:hover {
  color: $secondary-light-1;
}

/* ___Services Styles___ */

.services {
  background-color: $primary;

  &__title {
    font-weight: 700;
    margin-bottom: 2rem;
  }
}

.summary {
  margin-bottom: 2rem;

  &__description {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 976px) {
    &__cta--button {
      width: 100%;
    }
  }
}

.s-card {
  border-radius: 10px;
  background-color: white;
}

/* ___Services Flex___ */

.s-card {
  &__wrap--inner {
    display: flex;
    width: 25%;
    flex-direction: column;

    @media screen and (max-width: 1340px) {
      width: 33%;
    }

    // @media screen and (max-width: 1024px) {
    //   width: 33%;
    // }

    @media screen and (max-width: 976px) {
      width: 100%;
    }

    // @media screen and (max-width: 479px) {
    // }
  }
}

.expertise {
  @media screen and (max-width: 1340px) {
    width: 100%;
  }
}

.flexible {
  flex-grow: 1;
}

/* ___Projects___ */

.projects__background {
  height: auto;
  resize: horizontal;
  overflow: hidden;
}

.projects__container--background {
  position: relative;
  display: inline-block;
}

.wave__front--bottom {
  fill: $primary;
  z-index: 1;
  margin-bottom: 2rem;
  margin-top: -1px;
}

.wave__front--bottom > *,
*::after,
*::before {
  display: inline-block;
}

.wave__back--bottom {
  fill: #b49f4d;
  opacity: 0.101;
  position: absolute;
  top: 0;
  z-index: -1;
}
