/* 
=============== 
Global
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
=============== 
Variables
===============
*/

$content-container: 80vw;

/* 
=============== 
Layout
===============
*/

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.flex-container > * {
  flex-grow: 1;
}

.content__wrapper {
  width: 100%;
  max-width: 72rem;
  margin-right: auto;
  margin-left: auto;
}

.hero-img {
  /* display: none;
  flex-grow: 1; */
  width: 500px;
}

/* 
=============== 
Style Classes
===============
*/
